body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}


#navBar {
  background-color: yellow;
  margin: 0;
  padding: 0;
  height: 166px;
}

.about {
  margin: 10px;
  padding: 10px;
}